body{
    background-image: url(back.jpg);
    font-family: fantasy,sans-serif,cursive;
    font-size: medium;
    margin: auto;
    padding:0;
}
#container{
    width: auto;
    margin-left: auto;
    margin-right: auto;
        
}

#header{
    background-color: black;
    color: #FFD700;
    text-align: center;
        
}
a{
    text-decoration: none;
    color: crimson;
        
}
#content{
    padding: 10px,10px,10px,10px;
}

h1,h2,h3{
    margin: 0;
}


#navigation ul{
    text-align: right;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 180px;
    height: 100%;
}
#main{
    width: auto;
    float: none;

}
img{
    float: left;
    padding-right: 10px;
    margin: auto;
    padding: 5px;
}
.picRight{
    float: right;
}
    
}
#footer{
    clear: both;
    padding: 10px;
    background-color: fuchsia;
    color: black;
    text-align: right;
}
